@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KKAppSecMidterm</h1>
    <p class="lead">Kevin Kan's Midterm</p>
</div>

<div class="row">
    <div class="col-md-12">
       <p>No Real Content here</p>
    </div>
</div>